In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
%time df = pd.read_csv('../data/individual_contributions.csv', low_memory=False)

CPU times: user 2min 47s, sys: 1min 3s, total: 3min 51s
Wall time: 4min 22s

In [4]:
def add_commas(number):
    n = str(number)
    
    if len(n)>6:
        return n[:-6]+','+n[-6:-3]+','+n[-3:]
    elif len(n)>3:
        return n[:-3]+','+n[-3:]
    else:
        return number

In [6]:
(add_commas(df.shape[0]), df.shape[1])

('24,446,378', 25)

In [7]:
df.columns

Index(['id', 'cycle', 'fec_trans_id', 'contributor_id', 'contributor_name',
       'recipient_id', 'org_name', 'ult_org', 'real_code', 'date', 'amount',
       'street', 'city', 'state', 'zip', 'recip_code', 'type', 'committee_id',
       'other_id', 'gender', 'old_format_employer_occupation', 'microfilm',
       'occupation', 'employer', 'source'],
      dtype='object')

In [16]:
df['amount_mil'] = df['amount'] / 1_000_000

In [22]:
df.sort_values(by='amount_mil', ascending=False)[['contributor_name', 'amount_mil']].drop_duplicates('contributor_name').head(30)

                            contributor_name  amount_mil
5457875                  MERCER, LEE L MR JR   24.000000
5636195                     STEYER, THOMAS F   16.000000
24037919                    UNITEMIZED TOTAL   10.465912
23958197                    NEUGEBAUER, TOBY   10.000000
5905890                                  NaN    9.350125
828934     AMERICANS FOR TAX REFORM (GENERAL    7.674142
8191697                       SABAN, HAIM MR    7.000000
10766216               VICTORY CAMPAIGN 2004    6.150000
18705225                      MCMAHON, LINDA    6.000000
8346487   DEMOCRATIC SENATORIAL CAMPAIGN COM    5.958333
2527621                      RICKETTS, J JOE    5.486382
18828209                      FIORINA, CARLY    5.289500
813573                         HUNTSMAN, JON    5.139481
1255015                   ADELSON, MIRIAM DR    5.000000
3038271                   ADELSON, SHELDON G    5.000000
23949193               HENDRICKS, DIANE M MS    5.000000
3245001                      ADELSON, MIRIAM    5.000000
3533085                     ADELSON, SHELDON    5.000000
5392909       NATIONAL EDUCATION ASSOCIATION    5.000000
24139745                     WARREN, KELCY L    5.000000
1127194                    SIMMONS, HAROLD C    5.000000
24132879                       WILKS, JO ANN    5.000000
23964994                       WILKS, FARRIS    5.000000
23964366                      DEASON, DARWIN    5.000000
4853838                       STEYER, THOMAS    5.000000
19748559                SIGNET BANK/VIRGINIA    4.500000
3123286                 BLOOMBERG, MICHAEL R    4.500000
16417737                        ROMNEY, MITT    4.430500
11351631                        SPANOS, ALEX    4.000000
11351626                        ARNALL, DAWN    4.000000